<header>
	<div class="overlay"></div>
	<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
		<source src="../../../assets/img/Wind Power - 3641.mp4" type="video/mp4">
	</video>
	<div class="container h-100">
		<div class="d-flex h-100 text-center align-items-center">
			<div class="w-100 text-white">
				<h1 class="display-3">EFICIENCIA ENERGÉTICA</h1>
				<p class="lead mb-0">XX</p>
			</div>
		</div>
	</div>
</header>

<div class="main">

	<ul class="cards">
	  <li class="cards_item">
		<div class="card">
		  <div class="card_image"><img src="https://picsum.photos/500/300/?image=10"></div>
		  <div class="card_content">
			<h2 class="card_title">FOTOVOLTAICA</h2>
			<p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
			<button class="btn card_btn">Read More</button>
		  </div>
		</div>
	  </li>
	  <li class="cards_item">
		<div class="card">
		  <div class="card_image"><img src="https://picsum.photos/500/300/?image=5"></div>
		  <div class="card_content">
			<h2 class="card_title">TELEMEDIDA &  LEDS</h2>
			<p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
			<button class="btn card_btn">Read More</button>
		  </div>
		</div>
	  </li>
	  <li class="cards_item">
		<div class="card">
		  <div class="card_image"><img src="https://picsum.photos/500/300/?image=11"></div>
		  <div class="card_content">
			<h2 class="card_title"></h2>
			<p class="card_text">Demo of pixel perfect pure CSS simple responsive card grid layout</p>
			<button class="btn card_btn">Read More</button>
		  </div>
		</div>
	  </li>
	 
	</ul>
  </div>
  