

@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600);
@import url(http://weloveiconfonts.com/api/?family=brandico|entypo);

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  /* FOOTER */
  @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

  body {
      background: linear-gradient(0deg, #fff, 50%, #DEEEFE);
      font-family: 'Rubik', sans-serif;
      height: 100 !important;
      background-image: url('../img/WhatsApp_Image_2020-06-14_at_11.15.18-mitchell-edit.png');
  }
footer{
    background-color: thistle;
}
  
 
  .container-fluid {
      overflow: hidden;
      margin-top: 250px;
   background-color: transparent;
      color: #627482 !important;
      margin-bottom: 0;
      padding-bottom: 0
  }
 
  small {
      font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
  }
 
  .bold-text {
      color: #989c9e !important
  }
 
  .mt-55 {
      margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
  }
 
  h3 {
      font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
  }
 
  .social {
      font-size: 21px !important
  }
 
  .rights {
      font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
  }

.bg-image{
    background-image: url('https://mdbcdn.b-cdn.net/img/new/fluid/nature/015.jpg');
    height: 60vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-device-width: 1366px) {
    .bg-image {
      background-attachment: scroll;
    }
  }

  body {
    background-color:  #eee;
  }
  .title {
   
      margin-bottom: 50px;
      text-transform: uppercase;
  }
  
 
  .carousel-indicators li {
      border-radius: 12px;
      width: 12px;
      height: 12px;
      background-color: #404040;
  }
  .carousel-indicators li {
      border-radius: 12px;
      width: 12px;
      height: 12px;
      background-color: #404040;
  }
  .carousel-indicators .active {
      background-color: white;
      max-width: 12px;
      margin: 0 3px;
      height: 12px;
  }
  .carousel-control-prev-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  }
  
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  }
    
  
  .btn {
    margin-top: auto;
  }
  /*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.navbar {
  transition: all 0.4s !important;
  font-family: italic !important;
}

.navbar .nav-link{
  color: #fff;

}

.navbar .nav-link:hover,
.navbar .nav-link:focus,
#navbardrop:hover,:focus,
#dropdown-item:hover,:focus{
  color:greenyellow;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
  background: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #555;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
      background: #fff;
  }

  .navbar .navbar-brand, .navbar .nav-link {
      color: #555;
  }
}
/* CONTACTO */
#content {
    background: #454f4f;
    height: 600px;
  }
  #content:after {
    content: "";
    display: table;
    clear: both;
  }
  #content #left,
  #content #right {
    height: 100%;
  }
  #content #left {
    float: left;
    width: 75%;
    background: #7bc087;
  }
  @media all and (max-width: 780px) {
    #content #left {
      width: 100%;
    }
  }
  #content #left #mapid {
    height: 600px;
    position: relative;
    background-image: url("http://f.cl.ly/items/452R3S1440221Z3m372j/israel.png");
    background-size: cover;
  }
  #content #left #mapid p {
    text-transform: uppercase;
    padding-top: 20px;
    padding-left: 30px;
    font-size: 0.9em;
    font-weight: 600;
  }
  #content #left #mapid .zoom {
    position: absolute;
    right: 25px;
    top: 25px;
    width: 2px;
    height: 70px;
    background: white;
  }
  #content #left #mapid .zoom:before, #content #left #map .zoom:after {
    text-align: center;
    font-weight: 600;
    position: absolute;
    color: #7bc087;
    background: white;
    width: 20px;
  }
  #content #left #mapid .zoom:before {
    content: "+";
    top: -10px;
    right: -8px;
  }
  #content #left #mapid .zoom:after {
    content: "-";
    bottom: -10px;
    right: -8px;
  }
  #content #left #mapid .map-locator {
    position: absolute;
    top: 40%;
    left: 30%;
    border-radius: 15px;
    height: 30px;
    width: 30px;
    background: rgba(0, 0, 0, 0.4);
    border: solid 2px white;
  }
  #content #left #mapid .map-locator:before {
    content: "";
    position: absolute;
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 5px;
  }
  #content #left #mapid .map-locator .tooltip {
    position: absolute;
    color: #394141;
    left: 50px;
    top: -10px;
    background: white;
    font-size: 0.8em;
    font-weight: 600;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  #content #left #mapid .map-locator .tooltip:before {
    content: "";
    position: absolute;
    left: -10px;
    top: 14px;
    border-right: solid white 10px;
    border-top: solid transparent 8px;
    border-bottom: solid transparent 8px;
  }
  #content #left #mapid .map-locator .tooltip [class*="entypo-"] {
    min-width: 25px;
    display: inline-block;
    text-align: center;
    border-right: solid thin #ccc;
    margin-right: 5px;
  }
  #content #left #mapid .map-locator .tooltip li {
    border-bottom: solid thin #ccc;
    padding: 10px;
    white-space: nowrap;
  }
  #content #left #mapid .map-locator .tooltip li a {
    color: #51b2d6;
  }
  #content #left #mapid .map-locator .tooltip li:hover [class*="entypo-"] {
    color: #51b2d6;
  }
  #content #left ul#location-bar {
    width: 100%;
    text-align: center;
    display: table;
  }
  #content #left ul#location-bar li {
    display: table-cell;
    padding: 15px;
    background: #5fa269;
    border-right: solid thin #7fb587;
  }
  #content #left ul#location-bar li:last-of-type {
    border-right: 0;
  }
  #content #left ul#location-bar li:hover {
    background: #4c8254;
  }
  #content #left ul#location-bar .active {
    background: #4c8254;
  }
  #content #right {
    float: left;
    width: 25%;
    background: #76b882;
    font-size: 0.75em;
    padding: 15px;
  }
  @media all and (max-width: 780px) {
    #content #right {
      width: 100%;
    }
  }
  #content #right p {
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  #content #right a:hover {
    color: #51b2d6;
  }
  #content #right #social {
    display: table;
    width: 100%;
  }
  #content #right .social {
    display: table-cell;
    text-align: center;
  }
  #content #right form {
    border-top: solid thin #8e9699;
    border-bottom: solid thin #8e9699;
    margin: 20px 0;
    padding: 20px 0;
  }
  #content #right form input,
  #content #right form textarea {
    background: wheat;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    color: white;
  }
  #content #right form input:focus,
  #content #right form textarea:focus{
    outline: none;
box-shadow: 0px 0px 5px #61C5FA;
border:1px solid #5AB0DB;
border-radius:0;
  } 
  #content #right form input:hover,
  #content #right form textarea:hover{
  outline: none;
box-shadow: 0px 0px 5px #61C5FA;
border:1px solid #5AB0DB;
border-radius:0;
  }

  #content #right form input:last-of-type,
  #content #right form textarea:last-of-type {
    margin-bottom: 0;
  }
  #content #right form input[type="submit"],
  #content #right form textarea[type="submit"] {
    text-transform: uppercase;
    background: #7bc087;
    width: 50%;
    color: white;
    margin-top: 5px;
  }
  #content #right form input[type="reset"],
  #content #right form textarea[type="reset"] {
    text-transform: uppercase;
    background: red;
    background: #ee6f6f;
    width: 50%;
    color: white;
    margin-top: 5px;
  }
  #content #right form input[type="reset"]:hover,
  #content #right form textarea[type="reset"]:hover {
    background: red;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  #content #right form input[type="submit"]:hover,
  #content #right form textarea[type="submit"]:hover {
    background: #58b068;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  #content #right form input[type="textarea"],
  #content #right form textarea[type="textarea"] {
    min-height: 75px;
    vertical-align: text-top;
  }
  #content #right p.other {
    font-size: 0.7;
    margin-bottom: 5px;
    text-transform: lowercase;
    font-weight: 100;
  }
  #content #right p.other,
  #content #right p.other a {
    color: #8e9699;
  }
  


@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400|Playfair+Display:400,700,400italic|Libre+Baskerville:400,700,400italic|Muli:300,400|Open+Sans:400,300,700|Oswald:400,700|Raleway:400,100,300,700|Montserrat:400,700|Merriweather:400,300,300italic,400italic,700|Bree+Serif|Vollkorn:400italic,400,700|Abril+Fatface|Cardo:400,400italic);



/* Basically just a bunch of typeface classes, some helper classes(letter-spacing, font-weight, etc.), decorative classes(line-on-headers, double-lines, etc). Three types of bg, image, gradient and solid color. I do this for testing headings/hero-image typography. Now there are ten presets here, but you can mix everything. I know that this brings to classivitis, but I still didn't dwelved into Saas, it is next on my learning roadmap, but I will create a fork soon with Saas and variables. */


/* Preset 1 ---- Bold/cursive  */
/* Preset 2 ---- Thin/bold  */
/* Preset 3 ---- Add emphasis with color */
/* Preset 4 ---- Thin/Super bold/thin */
/* Preset 5 ---- Playing with serifs */
/* Preset 6 ---- Super contrast */
/* Preset 7 ---- Vertical text */
/* Preset 8 ---- Playful type */
/* Preset 9 ---- Middle flourish */
/* Preset 10 ---- Overlay text */

/* ==== Font sizes(based on Typeplate's scale) ==== */
html {
  font: normal 112.5%/1.65 serif; /* base font size 18px with 1.65 line-height */
  -moz-font-feature-settings: "liga=1, dlig=1"; /* common and discretionary ligatures */
    -ms-font-feature-settings: "liga", "dlig";
    -webkit-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin-top: 0;
  color: #fff;
	display: inline-block;
	position: relative;
}
p{
  margin-top: 4rem;
  color: #fff;
  font-size: 0.9rem;
  line-height: 1;
}

.gigantic{font-size: 11rem;}
.supersize{font-size: 8rem;}
.tera {
  font-size: 6.5rem; /* 117 / 18 = 6.5 */
  margin-bottom: 0.25385rem;
}

.giga {
  font-size: 5rem; /* 90 / 18 = 5 */
  margin-bottom: 0.33rem;
}

.mega {
  font-size: 4rem; /* 72 / 18 = 4 */
  margin-bottom: 0.4125rem;
}

.alpha {
  font-size: 3.33333rem; /* 60 / 18 = 3.3333 */
  margin-bottom: 0.495rem;
}

.beta {
  font-size: 2.6667rem; /* 48 / 18 = 2.6667 */
  margin-bottom: 0.61875rem;
  transition-duration: 3s;


}
.beta:hover {
  font-size: 4.5067rem; /* 48 / 18 = 2.6667 */
  margin-bottom: 0.61875rem;
  color: green;
}

.gamma {
  font-size: 2rem; /* 36 / 18 = 2 */
  margin-bottom: 0.825rem;
}

.delta {
  font-size: 1.3333333333333333rem; /* 24 / 18 = 1.3333 */
  margin-bottom: 1.2375rem;
}

.epsilon {
  font-size: 1.16667rem; /* 21 / 18 = 1.1667 */
  margin-bottom: 1.41429rem;
}

.zeta {
  font-size: 1rem; /* 18 = 18 × 1 */
  margin-bottom: 1.65rem;
}
/* ==== Typefaces  ==== */

.open-sans{font-family: 'Open Sans';}
.lato{font-family: 'Lato'}
.playfair-display{font-family: 'Playfair Display'}
.libre-baskerville{font-family: 'Libre Baskerville'}
.oswald{font-family: 'Oswald'}
.montserrat{font-family: 'Montserrat'}
.vollkorn{font-family: 'Vollkorn'}
.bree-serif{font-family: 'Bree Serif'}
.raleway{font-family: 'Raleway'}
.merriweather{font-family: 'Merriweather'}
.cardo{font-family: 'Cardo'}
.abril-fatface{font-family: 'Abril Fatface'}
.muli{font-family: 'Muli'}

/* ==== Weights, styles, letterspacing, etc. ==== */

.thin{font-weight: 100;}
.light{font-weight: 300;}
.regular{font-weight: 400;}
.bold{font-weight: 700;}
.italic{font-style: italic;}
.normal{font-style: normal;}
.ls-small{letter-spacing: 2px;}
.ls-medium{letter-spacing: 4px;}
.ls-large{letter-spacing: 8px;}
.ls-xlarge{letter-spacing: 12px;}
.uppercase{text-transform: uppercase;}
.color-emphasis-1{color: #FF4056}
.color-emphasis-2{color: #000;}
.color-emphasis-3{color: #60547c}
.text-left{text-align: left;}
.line-height-small{line-height: 1.2}
.line-height-medium{line-height: 1.45}
.line-height-large{line-height: 1.65}


/* ===== Flourish, heading horizontal lines, etc. ==== */

.thick-header-line:before, .thick-header-line:after{
	content: "";
	display: block;
	position: absolute;
	width:7rem;
	height: 4px;
	background-color: #fff;
	top:50%;
	margin-bottom: -4px;
}
.thick-header-line:before{
	left: -7.5rem;
}
.thick-header-line:after{
	right: -7.5rem;
}

.thin-header-line:before, .thin-header-line:after{
	content: "";
	display: block;
	position: absolute;
	width:7rem;
	height: 1px;
	background-color: #fff;
	top:50%;
	margin-bottom: -1px;
}
.thin-header-line:before{
	left: -7.5rem;
}
.thin-header-line:after{
	right: -7rem;
}
.line-after-heading:before{
	content: "";
	display: block;
	position: absolute;
	background-color: #fff;
	width:4rem;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: -2rem;
	
}
.double-header-line:before, .double-header-line:after{
	content: "";
	display: block;
	position: absolute;
	width:7rem;
	background-color: transparent;
	height: 4px;
	border-top: 1px solid #fff;
	border-bottom:1px solid #fff;
	top: 50%;
	margin-bottom: -4px;
}
.double-header-line:before{
	left: -7.5rem;
}
.double-header-line:after{
	right: -7.5rem;
}
.decorative-span{
  display: inline-block;
    font-size: 30px;
    line-height: 60px;
    margin: 0 10px;
    position: relative;
    vertical-align: middle;
	color: #fff;
}
.decorative-span:before, .decorative-span:after{
    background-color: #fff;
    bottom: 100%;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
}
.decorative-span:after {
    top: 96%;
}

.text-overlay:before{
	content: attr(data-text);
	z-index: 99;
	width: 98%;
	height: 50px;
	background-color: hsla(0,0%,0%,0.6);
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	line-height: 50px;
	text-align: center;
	color:#f0ad00;
	font-family: 'bree serif';
	font-style: normal;
	font-size: 1.3rem;
	letter-spacing: 0;
	text-transform: none;
	font-weight: 400;
}

/* ==== General styles ==== */


/* Media queries */
 @media screen and (min-width: 1440px) {
   section{height:700px}
 }