p{
    line-height: 1.5;
    margin: 30px 0;
    font-size: 30px;
    color: #212529;
    font-family: 'Lora', 'Times New Roman'
}
u{
    line-height: 1.5;
    margin: 30px 0;
    font-size: 35px;
    color: #212529;
    font-family: 'Lora', 'Times New Roman'
}
h3{
    margin: 30px 0;
    font-style: italic;
    color: grey;
    text-align: center;

}